body {
  background: #333333;
}

.center {
  width: 600px;
  margin: 0 auto;
}

.center-inline {
  text-align: center;
}

#break {
  float: left;
  font-family: monospace;
  padding-left: 40px;
}

#break span {
  font-size:  30px;
}

#session {
  float:right;
  font-family: monospace;
  padding-right: 40px;
}

#session span {
  font-size:  30px;
}

#timer {
  clear:both;
  margin: 150px auto 0 auto;
  font-family: monospace;
  font-size: 30px;
  border: 1px solid green;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding:10px;
}

.white {
  color: white;
}

h1 {
  font-family: Courier;
  font-size: 60px;
}
